In [1]:
import pandas as pd
import numpy as np

In [2]:
blend = pd.read_csv("../data/blend_compositions.csv")
feed = pd.read_csv("../data/plastic_feedstock.csv")
condition = pd.read_csv("../data/pyrolysis_conditions.csv")
output = pd.read_csv("../data/pyrolysis_outputs.csv")

In [3]:
blend.head()

  blend_id plastic_id  percentage
0       B1       HDPE         100
1       B2       LDPE         100
2       B3         PP         100
3       B4         PS         100
4       B5         PP          50

In [4]:
feed.head()

,plastic_id,plastic_type,density,melting_point,degradation_temp,additives_present
0,HDPE,High-Density Polyethylene,0.95,130,470,none
1,LDPE,Low-Density Polyethylene,0.92,110,450,dyes
2,PP,Polypropylene,0.90,160,480,fillers
3,PS,Polystyrene,1.05,100,460,none
4,Mixed (PP/PE),Mixed Polypropylene and Polyethylene,0.93,135,475,mixed

In [5]:
condition.head()

,condition_id,blend_id,temperature,heating_rate,residence_time,catalyst,reactor_type,energy_input
0,C1,B1,450,10,30,Zeolite,batch,25
1,C2,B2,440,15,45,NaN,batch,30
2,C3,B3,460,12,35,Alumina,batch,28
3,C4,B4,430,8,40,NaN,batch,22
4,C5,B5,455,10,38,Zeolite,batch,27

In [6]:
output.head()

,output_id,condition_id,fuel_yield,gas_yield,char_yield,fuel_energy_content,emissions,efficiency
0,O1,C1,75,15,10,42.0,1.74,126.000
1,O2,C2,70,20,10,40.0,2.40,93.333
2,O3,C3,72,18,10,41.0,1.54,105.429
3,O4,C4,68,22,10,39.0,2.07,120.545
4,O5,C5,73,17,10,41.5,1.53,112.204